* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  font-size: 20px;
  height: 68px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu,
.cart-icon {
  height: 40px;
  width: 40px;
  padding: 8px;
  cursor: pointer;
  outline: none;
}
.menu > div {
  width: 18px;
  height: 2px;
  background-color: #202020;
  margin: 3px 0;
}
.cart-icon img {
  width: 20px;
}
.title a {
  font-size: 18px;
  font-weight: 900;
  color: #202020;
  text-decoration: none;
}
.checkout {
  text-align: center;
}
.checkout h1 {
  font-size: 14.3px;
  font-weight: 500;
  margin-bottom: 8px;
}
.checkout span {
  font-size: 13px;
  color: #757575;
}
.container {
  padding: 0 24px 63px 24px;
}
.content {
  margin-top: 1rem;
}
.input-box {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.title {
  margin: 15px 0;
  font-size: 0.8rem;
  font-weight: 900;
}
.input-box input {
  font-size: 17px;
  border: none;
  outline: none;
  position: relative;
  border-bottom: 1px solid rgb(165, 162, 162);
  padding-bottom: 8px;
}
.input-box label {
  font-size: 16px;
  color: rgb(165, 162, 162);
  position: relative;
  top: -25px;
  transition: transform 0.1s ease-in, color 0.1s ease-in;
}
.input-box input:focus + label,
input:not(:placeholder-shown) + label {
  color: black;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  transform: translateY(-25px);
}
.input-box input:focus ~ .underline {
  width: 100%;
}
.underline {
  position: relative;
  top: -19px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in;
  transform: translateX(-50%);
}
.row-box {
  display: flex;
  justify-content: space-between;
}
.state-pincode .input-box {
  width: 48%;
}
.expiry-date p {
  margin-bottom: 4px;
}
.drop-down {
  text-align: left;
  font-size: 17px;
  background-color: white;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px rgb(179, 174, 174) solid;
}
.card-details {
  display: flex;
  justify-content: space-between;
}
.card-col {
  width: 30%;
}
.card-details .input-box {
  height: 50px;
}
.country {
  margin-bottom: 40px;
}
.light-font {
  font-size: 0.8rem;
}
.country select {
  outline: none;
}
.billing-address-choose p1 {
  font-size: 13px;
  margin-left: 8px;
}
.billing-address {
  display: none;
}
#different-billing:checked ~ .billing-address {
  display: block;
}
.billing-address-choose {
  margin: 28px 0;
}
#different-billing {
  margin-left: 0;
  accent-color: #172c50;
  width: 18px;
  height: 18px;
}
.card-details {
  display: flex;
}
.card-date {
  display: flex;
}
.cvv {
  width: 98%;
  font-size: 16px;
  border: none;
  border-bottom: 1px rgb(179, 174, 174) solid;
}
.order-summary {
  display: flex;
  justify-content: space-between;
}
.order-summary .light-font {
  margin-left: 0;
  margin-bottom: 5px;
}
.order-summary p1 {
  color: black;
}
.summary {
  margin-bottom: 17px;
}
.total {
  margin: 30px 0 75px 0;
}
.footer {
  font-size: 15px;
  padding: 23px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #172c50;
  color: white;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer-tag {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .menu > div {
    display: none;
  }
  .container {
    padding: 4.5rem 24px 90px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 976px;
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
  }
  .user-details {
    width: 50%;
  }
  .payment-info {
    width: 50%;
    margin-top: 8px;
  }
  .account-info {
    margin-top: 23.6px;
  }
  .mail {
    margin-top: 20px;
  }
  .total {
    margin: 30px 0;
  }
  .footer {
    padding: 9px 25px;
    width: 12rem;
    background-color: white;
    border: 2px #172c50 solid;
    color: #172c50;
    position: unset;
  }
  .footer a {
    color: #172c50;
  }
  .full-width {
    font-size: 13px;
    margin-top: 15px;
    padding: 11px;
    width: 100px;
    background-color: #172c50;
    color: white;
    text-align: center;
  }
  .footer-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
